/* Contenedor Principal */
.main-container {
  width: 100%;
  max-width: 1200px;
  margin: 1rem auto 3rem;
  padding: 0 1rem;
}
/* BANNER */
.banner-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-img {
  width: 100%;
  border-radius: 0.5rem;
}

/* DESCRIPCION */
.descripcion {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2rem;
}
.descripcion-titulo {
  font: normal 700 2rem/1.2 $font-primary;
  color: $color-black-light;
  margin: 1rem auto;
}
.descripcion-subtitulo {
  font: normal 400 1.5rem/1.2 $font-primary;
  color: $color-black-light;
  margin: 1rem auto;
}

/* CONTENEDOR MAIN PRODUCTOS*/
.productos-main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  position: relative;
  margin: 0 auto;
}
/* INICIO CATEGORY*/
.productos-category {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  max-width: 210px;
  border-radius: 0.5rem;
  background-color: $color-white;
  padding: 1rem;
  position: sticky;
  top: 1rem;
  border: 1px solid rgba(0, 0, 0, .1);
}
.productos-category-title {
  display: block;
  width: 100%;
}
.productos-category-sales {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  gap: 1rem;
  flex-wrap: wrap;
}
.productos-category-item {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}
.productos-category-nav {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.productos-category-nav-item {
  width: 100%;
  padding: 1rem 0.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  transition: all 0.3s ease;
}
.productos-category-nav-item:last-child {
  border-bottom: none;
}
.productos-category-nav-item:hover {
  cursor: pointer;
  background-color: $color-gray-light;
  border-radius: 0.5rem;
  position: relative;
  transition: all 0.3s ease;
}
.productos-category-nav-item:hover::after {
  content: "→";
  position: absolute;
  font-size: 1.5rem;
  color: $color-black-light;
  width: 1rem;
  height: 1rem;
  top: 0.75rem;
  right: 1rem;
}
.productos-category-nav-item__link {
  width: 100%;
  text-decoration: none;
  font: normal 400 1rem/1.2 $font-primary;
  color: $color-black-light;
}
/* Inicio Productos*/

.productos-container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
  flex-wrap: wrap;
  margin-bottom: 10rem;
}
.productos {
  width: 240px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2rem;
  transition: all 0.3s ease;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  background-color: $color-white;
  overflow: hidden;
  cursor: default;
  transition: all 400ms;
}
.productos-category-sales.productos-wrap {
  justify-content: flex-start;
  align-items: flex-start;
}
.productos-category-sales.productos-wrap .productos {
  width: 215px;
}
.productos:hover {
  border: 1px solid $color-gray;
  transition: all 0.3s ease;
  box-shadow: 0px 0px 10px 5px rgb(0 0 0 / 10%);
  transform: translateY(-2%);
}
.productos-body {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
}
.productos-img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}

.productos-desc {
  font: normal 400 1rem/1.2 $font-primary;
  color: $color-black-light;
  margin-bottom: 0.5rem;
  text-align: center;
  min-height: 60px;
}

.productos-marca {
  text-align: center;
  width: 50%;
  position: relative;
  font: normal 700 0.75rem/1.2 $font-primary;
  color: $color-black-light;
  margin-bottom: 1rem;
}
.productos-marca::before {
  content: '';
  display: block;
  border-top: 1px solid #e9e9e9;
  width: 100%;
  margin: 5px 0;
}
.productos-precio {
  font: normal 700 1.25rem/1.2 $font-primary;
  color: $color-black-light;
  margin-bottom: 1rem;
}
.productos-btn {
  font: normal 700 1.25rem/1.2 $font-primary;
  padding: 0.5rem 1rem;
  background-color: $color-red;
  color: $color-white;
  border-radius: 0.25rem;
  border: none;
  outline: none;
  transition: background 0.3s ease;
}
.productos-btn:hover {
  background-color: $color-red-light;
  color: $color-white;
  transition: background 0.3s ease;
  cursor: pointer;
}

/*Sección Productos*/
.productos-title{
  text-align: center;
  margin: 2rem auto 3rem;
}

/* Páginas */
.nosotros {
  width: 100%;
  max-width: 991px;
  margin: auto;
}
.nosotros__title {
  font: normal 700 3rem/1.2 $font-primary;
  text-align: center;
  background-color: $color-red-light;
  color: $color-white;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
}
.nosotros__subtitle {
  font: normal 700 2rem/1.2 $font-primary;
  text-align: center;
  margin-bottom: 1rem;
  color: $color-gray-dark;
}
.nosotros__desc {
  font: normal 400 1rem/1.2 $font-primary;
  text-align: center;
  margin-bottom: 2rem;
  color: $color-gray-dark;
}

.form-container {
  width: 100%;
  max-width: 575px;
  margin: 2rem auto;
}
.form-body {
  width: 100%;
  max-width: 100%;
}
.form-body__title {
  font: normal 700 3rem/1.2 $font-primary;
  text-align: center;
  color: $color-black-light;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
}

.form-body__input,
.form-body__textarea,
.form-body__submit {
  width: 100%;
  font: normal 400 1rem/1.2 $font-primary;
  padding: 0.8rem 1rem;
  border: 1px solid $color-gray;
  border-radius: 4px;
  margin-bottom: 1rem;
}
.form-body__input:focus,
.form-body__textarea:focus {
  border: 1px solid $color-red-light;
}
.form-body__submit {
  width: 100%;
  font: normal 400 1.5rem/1.2 $font-primary;
  text-align: center;
  background-color: $color-red-light;
  color: $color-white;
  border: none;
  outline: 0;
  border-radius: 4px;
  transition: all 0.3s ease;
  padding: 1rem 0;
}
.form-body__submit:hover {
  transition: all 0.3s ease;
  background-color: $color-red;
  cursor: pointer;
}
.serviciostitulo {
  display: flex;
  justify-content: center;
  border-radius: 7px;
  background-color: $color-red;
  color: $color-white;
}