$color-red: #D90429;
$color-red-light: #EF233C;
$color-gray: #8D99Ae;
$color-gray-dark: #353739;
$color-gray-light: #EDF2F4;
$color-black-light: #2B2D42;
$color-white: #FFFFFF;
$color-blue: #0866ff;
$color-orange: #d93a00;
$font-primary: "Poppins", sans-serif;